{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th><th></th><th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td class="{{ 'todo-completed' if todo.completed == 1 }}">{{ todo.description }}</td>
            <td>
                <form method="post" action="{{ url_for('todo_complete', id=todo.id, page=page) }}">
                    <input id="todo-complete-{{ todo.id }}"
                           type="checkbox"
                           name="todo-completed"
                           value="{{ todo.completed }}"
                           class="todo-complete-checkbox"
                           {{ 'checked' if todo.completed == 1 else '' }} />
                </form>
            </td>
            <td>
                <a href="{{ url_for('todo_JSON', id=todo.id) }}" target="_blank">
                    JSON
                </a>
            </td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id, page=page) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}